<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans|Thasadith&display=swap"
      rel="stylesheet"
    />
  </head>
  <style>
    .th_font {
      font-family: "Thasadith", sans-serif;
      font-size: 28px;
      color: white;
    }
    .eng_font_topic {
      font-family: "Fredoka One", cursive;
      font-size: 100px;
      color: white;
    }
    #myVideo {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
    }


  </style>

  <body
    class="th_font text-center"
    style="background-color: black;margin-top: 9cm;"
  >
    <video autoplay muted loop id="myVideo" style="z-index: -1;">
      <source src="static/video/1.mp4" type="video/mp4" />
      <source src="video/1.mp4" type="video/mp4" />
    </video>

    <form action="{{url_for('output_word')}}" method="POST">
      <text style="font-size:larger;">กรอกคำที่ต้องการ</text><br>
      <textarea style="width: 12cm;height:1.5cm;" type="text" name="bully" required autofocus="autofocus"></textarea>
      <br>
      <br>
      <input
        class="btn btn-primary btn-lg"
        type="submit"
        value="ตรวจสอบ"
      /><br />
    </form>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>


    <script>

    </script>
  </body>
</html>
